:root {
    --clr-bg: #3b363f;
    --clr-text: #eedaea;
    --clr-accent: #fc6e83;
    --clr-sub: #fcd783;
    --line-len: 3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-text);
    position: relative;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
}

.header {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(0.7rem, 2.5vw, 1.1rem);
    position: relative;
}

.logo-container {
    background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: -100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.grid {
    width: 95%;
    max-width: 1000px;
    min-width: 342px;
    margin: 1rem 0;
    display: none;
    grid-template-rows: 95px var(--line-len) repeat(6, 95px);
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 15px 0px;
    padding: 1rem;
    border-radius: 5px;
    font-size: clamp(0.6rem, 2.7vw, 1.2rem);
    grid-template-columns: 1fr var(--line-len) 1fr var(--line-len) repeat(
            2,
            1fr
        );
}

.grid.active {
    display: grid;
}

/* .offline-grid {
    grid-template-columns: 1fr var(--line-len) 1fr var(--line-len) repeat(
            2,
            1fr
        );
}

.online-grid {
    grid-template-columns: 1fr var(--line-len) 1fr var(--line-len) repeat(
            3,
            1fr
        );
} */

.grid-cell {
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 0 0.5rem;
}

.offline-grid .grid-cell.active {
    font-weight: 600;
    background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.4s ease-out;
    background-position: -100%;
}

.online-grid .day.active {
    font-weight: 600;
    background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.4s ease-out;
    background-position: -100%;
}

.head {
    font-weight: 600;
    background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: -100%;
}

.day {
    font-weight: 500;
    color: var(--clr-text);
}

.link {
    text-decoration: none;
    color: var(--clr-text);
    font-weight: 500;
    background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.4s ease-out;
}

.link:hover {
    background-position: -100%;
}

.line {
    background-color: var(--clr-sub);
    border-radius: 50px;
    animation: extend 900ms ease-in-out forwards 100ms;
    transform: scale(0);
    transform-origin: center;
}

.line-vertical {
    grid-row: 1 / -1;
}

.line-horizontal {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.line-1 {
    grid-column: 2 / 3;
}

.line-2 {
    grid-column: 4 / 5;
}

.fc {
    grid-row: 3 / -1;
    grid-column: 3 / 4;
    font-size: clamp(0.8rem, 2.7vw, 1.4rem);
    font-weight: 500;
}

.buttons {
    display: flex;
    width: 50%;
    max-width: 300px;
}

.btn {
    outline: none;
    border: none;
    background: none;
    color: var(--clr-text);
    font-family: "Montserrat", sans-serif;
    width: 50%;
    font-size: clamp(0.9rem, 2.5vw, 1.3rem);
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 10px 0px;
    transition: color 300ms ease;
}

.offline-btn.active {
    border-bottom: 2px solid var(--clr-accent);
    border-right: 2px solid var(--clr-accent);
    box-shadow: inset rgb(0 0 0 / 20%) 0px 4px 10px 0px;
    color: var(--clr-accent);
}

.online-btn.active {
    border-bottom: 2px solid var(--clr-accent);
    border-left: 2px solid var(--clr-accent);
    box-shadow: inset rgb(0 0 0 / 20%) 0px 4px 10px 0px;
    color: var(--clr-accent);
}

.search-btn {
    outline: none;
    border: none;
    background: none;
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    color: var(--clr-text);
    cursor: pointer;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}

.modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.search-popup {
    width: 90%;
    max-width: 550px;
    height: 700px;
    background: var(--clr-bg);
    display: flex;
    flex-direction: column;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.search-bar {
    outline: none;
    border: none;
    width: 100%;
    padding: 0.9rem;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.teachers-list-container {
    flex: 1;
    overflow: auto;
}

.teachers-list-container::-webkit-scrollbar {
    width: 0.2rem;
}

.teachers-list-container::-webkit-scrollbar-track {
    background: #1e1e24;
}

.teachers-list-container::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
}

.teachers-list {
    padding: 1.5rem;
    list-style: none;
    height: 100%;
}

.list-item {
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.list-item:hover {
    transform: scale(1.05);
}

.list-link {
    display: block;
    text-decoration: none;
    color: var(--clr-text);
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}

.list-link span {
    font-weight: 500;
}

.empty {
    height: 1rem;
}

@keyframes extend {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 810px) {
    .header {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    :root {
        --line-len: 2px;
    }

    .teachers-list {
        padding: 1rem;
    }
}

@media screen and (max-width: 540px) {
    .grid {
        grid-template-rows: 70px var(--line-len) repeat(6, 70px);
        padding: 0.5rem;
    }

    :root {
        --line-len: 1px;
    }

    .header {
        padding: 2rem;
    }

    .link:active {
        background-position: -100%;
    }
}
